<LDAP>
  # LDAP server URL
  URL   {{ openvpn_ldap_uri }}

  # Network timeout (in seconds)
  Timeout   15

  # Enable Start TLS
  TLSEnable {{ openvpn_ldap_tlsenable }}

  # TLS CA Certificate File
  # TLSCACertFile /etc/ssl/ca-cert.pem

  # TLS CA Certificate Directory
  TLSCACertDir  /etc/ssl/certs

  # Client Certificate and key
  # If TLS client authentication is required
  TLSCertFile {{ openvpn_ldap_crt }}
  TLSKeyFile  {{ openvpn_ldap_key }}
</LDAP>

<Authorization>
  BaseDN    {{ openvpn_ldap_base_dn }}
  SearchFilter  {{ openvpn_ldap_search_filter }}
</Authorization>
